# docker-compose.yml
services:
  app:
    build: ./app
    env_file:
      - .env
    ports:
      - "5000:5000"
    container_name: flask_app
    expose:
      - "5000"
    command: gunicorn --bind 0.0.0.0:5000 --workers 4 --threads 2 app:app
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/server.crt:/etc/ssl/certs/server.crt:ro
      - ./nginx/server.key:/etc/ssl/certs/server.key:ro
    depends_on:
      - app
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  logstash:
    image: docker.elastic.co/logstash/logstash:8.15.3
    container_name: logstash
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    ports:
      - "5044:5044"
      - "9600:9600"
    depends_on:
      - elasticsearch
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: kibana
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
volumes:
  esdata: